NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nutriroots_db
DB_USER=root
DB_PASS=yourpassword

# JWT
JWT_SECRET=nutriroots_super_secret_jwt_key_2024_change_in_production
JWT_EXPIRE=7d
