NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=nutriroots_db
DB_USER=root
DB_PASS=yourpassword

# JWT
JWT_SECRET=nutriroots_super_secret_jwt_key_2024_change_in_production
JWT_EXPIRE=7d

# SMTP Email Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_smtp_user@gmail.com
SMTP_PASS=your_smtp_password
ADMIN_EMAIL=admin@yourdomain.com

